.review-item {
    width: 571px;
    height: 107px;
    border: 1px solid rgb(134, 122, 122);
    border-radius: 8px;
    margin-bottom: 25px;
}

.review-item img {
    width: 91px;
    height: 91px;
    padding: 8px;  
}